.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  text-align: center;
  background-color: #ada7a7;
  font-style: oblique;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-right: auto;
  width: 190%;
  max-width: 1580px; /* Adjust the value as needed */
}

#logoImg {
  width: 600px;
  height: auto;
  margin: 5.5rem;
}

a {
  color: rgb(226, 212, 169);
  font-size: 18px;
  background-color: rgb(94, 94, 87);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
/*Links*/
a:hover {
  color: white;
  background-color: rgb(231, 231, 229);
}a {
  color:rgb(90, 86, 72);
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(218, 218, 218);
  padding: 8px;
  border-radius:10px;
  text-decoration: none;
}

a:hover {
  color: white;
}



/*Navigation*/
.navbar {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 275px;
  height: 100%;
  background-color: #312c2c;
  color: #0c0b0b;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.navbar h5 {
  font-size: 24px;
  font-weight: bold;
  color: #d6d4d4;
  margin-bottom: 20px;
}

 /* Footer styles */
 .footer {
  background-color: #312c2c;
  color: #dfd5d5;
  padding: 10px;
  text-align: center;
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 1px;
}
/*Login*/

.login-form {
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-left: 500px;
 
}
.login-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.login-form input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 35px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.login-form button[type="submit"] {
  display:inline-block;
  background-color: rgb(189, 183, 166);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover {
  background-color: rgb(224, 201, 129);
}

.error-list {
  color: red;
  list-style-type: disc;
  margin-left: 20px;
}
/*Sign Up*/

.signup-form {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-left: 400px;
 
}
.signup-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.signup-form input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 35px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.signup-form button[type="submit"] {
  display:inline-block;
  background-color: rgb(189, 183, 166);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button[type="submit"]:hover {
  background-color: rgb(224, 201, 129);
}

/*Dashboard*/
.dashboard {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #aca7a7;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.dashboard h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

.dashboard a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: rgb(138, 135, 129);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dashboard a:hover {
  background-color:rgb(179, 176, 169);
}

/*Buttons*/

button {
  display: inline-block;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* Primary button styles */
button.primary {
  background-color: #999696;
  color: #fff;
}

button.primary:hover {
  background-color: #999696;
}

/* Secondary button styles */


button.secondary:hover {
  background-color: #999696;
  color: #f0dcdc;
}


.box {
  display: grid;
  flex-direction:column;
  background-color: #9b9a9a;
  height: 950px;
  width: 630px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 5px 5px #3d2208;
  transition: .10s;
}

.box h2 {
  font-size: 1.5rem;
  margin-top: 0;
}

.box p {
  margin-bottom: 20px;
}

.channels-container {
  background-color:#999898;
  padding: 5px;
}

.channels-wrapper {
  display:contents;
  flex-wrap:wrap;
  justify-content: space-between;
}

.channel-card {
  background-color: #d6d4d4;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 60%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.channel-card:hover {
  box-shadow: 0px 0px 2px rgba(165, 159, 159, 0.3);
}

.channel-card h2 {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.channel-card p {
  font-size: 18px;
  margin: 0;
}
/*Add New Channel*/
.channel-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.channel-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}
.channel-form input[type="text"] {
  width: 70%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 35px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.channel-form input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.channel-form input[type="submit"]:hover {
  background-color: #006080;
}


.post-component {
  display: grid;
  flex-direction:column;
  background-color: #b8afaf;
  height: 2650px;
  width: 850px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 5px 5px #3d2208;
  transition: .10s;
}

.posts-list {
  border: 3px solid #948f8f;
  padding: 10px;
  margin-bottom: 10px;
}

.posts-list img {
  max-width: 400px;
  max-height: 300px;
  margin-bottom: 10px;
  padding: 20px;
}

.posts-list button {
  background-color: #746c6b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

.posts-list button:hover {
  background-color: #857777;
}
.post-form {
  background-color: #beb9b9;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(37, 33, 33, 0.2);
  padding: 10px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.post-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}
.post-form input[type="text"] {
  background-color: #dde2e4;
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 35px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.post-form input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.post-form input[type="submit"]:hover {
  background-color: #006080;
}
.formtext{
  font-size: 16px;
  font-weight: bold;

}

.dashboard-form {
  background-color: #7e7b7b;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.dashboard-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}
.dashboard-form input[type="text"] {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.dashboard-form input[type="submit"] {
  background-color: #008CBA;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.dashboard-form input[type="submit"]:hover {
  background-color: #006080;
}

/*Add Post Page*/
.all-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120vh;
  background-color: #888686;
}

.view-card {
  width: 750px;
  padding: 30px;
  background-color: #b4aeae;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.view-card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.view-card img {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.view-card p {
  margin-bottom: 10px;
}

.view-card h4,
.view-card h5 {
  color: #888;
  margin-bottom: 5px;
}

.view-card button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-card button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.view-card button:hover:not(:disabled) {
  background-color: #0056b3;
}
/*Channel Container*/

.channel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  background-color: #b6b1b1;
}

.container-box {
  width: 500px;
  padding: 20px;
  background-color: #b8afaf;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.container-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.container-box em {
  font-style: italic;
}

.container-box p {
  margin-bottom: 10px;
}

.poster-card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #c0baba;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.poster-card strong {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.poster-card img {
  max-width: 50%;
  height: auto;
  margin-bottom: 10px;
}

.poster-card span {
  margin-bottom: 10px;
  color: #777;
}

.poster-card a {
  color: #5e6874;
  text-decoration: none;
}

.poster-card a:hover {
  text-decoration: underline;
}

.poster-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 700px) {
  .poster-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 560px) {
  .container-box {
    width: 90%;
  }

  .poster-grid {
    grid-template-columns: 1fr;
  }
}

/*User Post Detail*/

.user-post-details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background-color: #c5c1c1;
}
.post-details-container {
  width: 800px;
  padding: 20px;
  background-color: #b4b0b0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.post-details-container .post-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.post-details-container .post-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #631010;
}

.post-details-container .post-info .post-creator {
  font-weight: bold;
}

.post-details-container .post-info .post-date {
  font-weight: bold;
}

.post-details-container .post-image-container {
  margin-bottom: 10px;
}

.post-details-container .post-image {
  max-width: 70%;
  height: auto;
}

.post-details-container .post-content {
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .post-details-container {
    width: 100%;
  }
}

