.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  background-color: rgb(196, 177, 151);
  font-style: oblique;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logoImg {
  width: 600px;
  height: auto;
  margin: 2.5rem;
}
/*paragrapghs*/
a {
  color: rgb(226, 212, 169);
  font-size: 18px;
  background-color: rgb(14, 14, 10);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgb(209, 170, 43);
}a {
  color:rgb(90, 86, 72);
  font-size: 18px;
  background-color: rgb(212, 212, 197);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgb(133, 110, 34);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
}