.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
  text-align: center;
  background-color: #b6b4b4;
  font-style: oblique;
  font-weight: lighter;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50px; /* Adjust the value to match the width of your navbar */
  margin-right: auto;
  width: 78%; /* Adjust the value as needed */
}
#logoImg {
  width: 600px;
  height: auto;
  margin: 5.5rem;
}
/*paragrapghs*/
a {
  color: rgb(226, 212, 169);
  font-size: 18px;
  background-color: rgb(14, 14, 10);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
/*Links*/
a:hover {
  color: white;
  background-color: rgb(209, 170, 43);
}a {
  color:rgb(90, 86, 72);
  font-size: 16px;
  background-color: rgb(212, 212, 197);
  padding: 8px;
  border-radius: 0px;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: rgb(189, 183, 166);
}



/*Navigation*/
.navbar {
  
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
}
/*Login*/

.login-form {
  max-width: 400px;
  margin: 15.8rem;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.login-form h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 16px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.login-form button[type="submit"] {
  display:inline-block;
  background-color: rgb(189, 183, 166);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button[type="submit"]:hover {
  background-color: rgb(224, 201, 129);
}
/*Dashboard*/
.dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #999696;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.dashboard h4 {
  font-size: 28px;
  margin-bottom: 20px;
}

.dashboard a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: rgb(189, 183, 166);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dashboard a:hover {
  background-color:rgb(163, 151, 117);
}